header, main, footer {
    padding-left: 180px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

  #btn_search_id {
    margin-top: 20px;
  }